
@font-face {
  font-family: 'IKEA';
  font-style: normal;
  font-weight: normal;
  src: asset_url('NotoIKEALatin-Regular.woff') format('woff')
}

@font-face {
  font-family: "IKEABold";
  src: font-url('NotoIKEALatin-Bold.woff');
}
// Define fonts for body and headers
$body-font: "IKEA", "Noto Sans", "sans-serif";
$headers-font: "IKEABold", "Noto Sans", "sans-serif";

