.show {

}

.interactive {
  width: 100%;
  background-color: $yellow;
  // opacity: .7;
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
  border-radius: $border-radius;
  // border: 1px solid $light-gray;
  font-size: 40px;
  p {
      color: black;
      margin-bottom: 0 ;
      font-size: 1rem;
  }
}

.medias {
  display: flex;
}

.product-info{
  padding:10px;
  h1 {
  color: $text-black;
  text-shadow: $text-shadow-lg;
  }
  p {
    font-size: 18px;
    margin-bottom: 0;
    color: $text-gray;
    text-shadow: $text-shadow-sm;
  }
  .product-number {
    color: $text-gray;
    font-size: 12px;
    margin-bottom: 20vh;
  }

}

.show-media {
  color: $dark-gray;
  border-radius: $border-radius;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
  text-align: center;
  width: 32%;
  margin-right: 12px;
  padding: 15px;
  font-size: 35px;
  border: 1px solid $light-gray;
  &:last-child{
    margin-right: 0;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

}

.task-rabbit {
    // background: $main-blue;
    height:50px;
    width:auto;
    // z-index: 1;
    // mix-blend-mode: luminosity;
  }
