<div class="card-product">
  <%= link_to product_path(product), class: 'textdecoration-none' do %>
    <div class="card-product-content">
      <img src= <%= product.icon %> >
      <div class="card-product-show">
            <h2><%= product.name %></h2>
            <p> <%= product.description %></p>
      </div>
    </div>
  <% end %>
  <% if userproduct %>
    <div class="card-remove-item">
       <button type="button" class="btn btn-default btn-circle btn-circle-active bg-white text-danger remove"><i class="fa fa-check"></i>
    </div>
  <% end %>
</div>

