<div class="footer-enkelt">
  <%= link_to root_path do %>
  <div class="brand">ENKELT</div>
  <% end %>
  <% if params[:action] == "guide" %>
  <div class="media">
    <%= link_to product_path(@product) do %>
      <button type="button" class="btn btn-default btn-circle btn-circle-active"><i class="fa fa-home"></i>
    <% end %>
    <button type="button" class="btn btn-default btn-circle btn-circle-active text-danger" id="open_warning"><i class="fa fa-exclamation-triangle"></i>
    <button type="button" class="btn btn-default btn-circle btn-circle-active text-primary" id="open_video"><i class="fa fa-video"></i>
    <button type="button" class="btn btn-default btn-circle btn-circle-active text-primary" id=open_screw><i class="fa fa-tools"></i>
    <%= link_to new_product_review_path(@product), style:'color: white;' do %>
      <button type="button" class="btn btn-default btn-circle btn-circle-active bg-success text-white"><i class="fa fa-check"></i>
    <% end %>

  </div>
  <% end %>
  <% if current_user %>
  <div class="profile">
    <div>
      <i class="fas fa-user-circle text-primary"></i>
    </div>
  </div>
  <% else %>
  <div class="profile">
    <%= link_to new_user_session_path do %>
      <div class= "user-action">Log in</div>
    <% end %>
  </div>
  <% end %>
</div>
