<div class="footer-enkelt">
  <%= link_to products_path do %>
  <div class="brand">ENKELT</div>
  <% end %>
  <% if params[:action] == "guide" %>
  <div class="media">
    <button type="button" class="btn btn-default btn-circle text-warning"><i class="fa fa-exclamation-triangle"></i>
    <button type="button" class="btn btn-default btn-circle text-warning"><i class="fa fa-video"></i>
    <button type="button" class="btn btn-default btn-circle text-warning"><i class="fa fa-screwdriver"></i>
    <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-tools"></i>
    <button type="button" class="btn btn-success btn-circle"><i class="fa fa-ellipsis-h"></i>
    <button type="button" class="btn btn-default btn-circle"><i class="fa fa-check"></i>
  </div>
  <% end %>
  <% if current_user %>
  <div class="profile">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class= "user-action">Log out</div>
    <% end %>
    <div>
      <i class="fas fa-user-circle"></i>
    </div>
  </div>
  <% else %>
  <div class="profile">
    <%= link_to new_user_session_path do %>
      <div class= "user-action">Log in</div>
    <% end %>
  </div>
  <% end %>
</div>
