<div class="footer-enkelt fixed-bottom">
  <div class="brand">ENKELT</div>
  <div class="media">
      <i class="fas fa-file-pdf media-item "></i>
      <i class="fas fa-video media-item"></i>
      <i class="fas fa-tools media-item"></i>
  </div>
  <div class="profile">
    <i class="fas fa-user-circle"></i>
  </div>
</div>
