<div class="footer footer-enkelt sticky-bottom">
  <div class="enkelt-brand">ENKELT</div>
  <div class="footer-media">
      <i class="far fa-file-pdf"></i>
      <i class="fas fa-file-pdf"></i>
      <i class="far fa-video"></i>
      <i class="fas fa-video"></i>
  </div>

</div>
