<h1>THIS IS ENKELT!</h1>

<h3>What do you want to assemble today?</h3>

<div class="search-container mt-5">
   <div class="main-header">
    <form action="/products" accept-charset="UTF-8" method="get" class="header-form">
      <input name="utf8" type="hidden" value="✓">
      <input type="text" name="query" id="query" placeholder="Search product">
      <i class="fas fa-search"></i>
    </form>
  </div>
  <br>
  <div class="action-buttons">
    <%= link_to "My Products", products_path, class:"btn-e mr-5 click-animation" %>
    <i class="fas fa-barcode btn-e btn-e-trans"></i>
  </div>
</div>
