
<!-- USAGE: PASTE THIS CODE INTO THE PAGE WHERE THE MODAL SHOULD BE DISPLAYED -->
<!-- ELEMENT ID MUST BE "open_warning" -->
<!-- <button class="btn-primary" id="open_video">Open video text</button> -->

<!-- The Modal -->
<div id="showvideo" class="video-modal">
  <!-- Modal content -->
  <div class="video-modal-content">
    <div class="video-modal-header">
      <span class="video-close">&times;</span>
    </div>
    <div class="video-modal-body">
      <!-- <video src="https://youtu.be/37v96zMllFA?t=42"></video> -->
      <iframe width="1000" height="600" src="https://www.youtube.com/embed/37v96zMllFA"></iframe>
    </div>
    <div class="video-modal-footer pt-2">
      <!-- <p>Keep this information for further reference</p> -->
      <div class="btn-info rounded" id="btn-video-close">Close</div>

    </div>
  </div>

</div>
