
<!--   <div class="container_left">
    <div class="container">
      <h1>Testing page for our components</h1>
      <p>Test of margin bottom</p>
    </div>
  </div>
  <div class="container_right">
    <div class="container">
      <h1>RIGHT Container</h1>
      <p>Test of roight container</p>
    </div>
  </div> -->

<%= render "shared/billy_animation" %>

<%= render "shared/footer" %>