
<!--   <div class="container_left">
    <div class="container">
      <h1>Testing page for our components</h1>
      <p>Test of margin bottom</p>
    </div>
  </div>
  <div class="container_right">
    <div class="container">
      <h1>RIGHT Container</h1>
      <p>Test of roight container</p>
    </div>
  </div> -->

<br>
<div class="container">
  <a href="#" class="btn-e">Standard</a>
  <a href="#" class="btn-e btn-e-trans">Transparent</a>
</div>

<div class="container">
  <a href="#" class="btn-e-guide"><i class="fas fa-screwdriver"></i></a>
  <a href="#" class="btn-e-guide red"><i class="fas fa-exclamation-triangle"></i></a>
  <a href="#" class="btn-e-guide blue"><i class="fas fa-ellipsis-h"></i></a>
  <a href="#" class="btn-e-guide"><i class="fas fa-align-center" style="transform: rotate(-90deg);"}></i></a>
</div>

<div class="container">
  <a href="#" class="btn-e-guide btn-e-dark"><i class="fas fa-screwdriver"></i></a>
  <a href="#" class="btn-e-guide btn-e-dark"><i class="fas fa-exclamation-triangle"></i></a>
  <a href="#" class="btn-e-guide btn-e-dark"><i class="fas fa-ellipsis-h"></i></a>
  <a href="#" class="btn-e-guide btn-e-dark"><i class="fas fa-align-center" style="transform: rotate(-90deg);"}></i></a>
</div>

<div class="container">
  <%= render "shared/card" %>
</div>

<div class="container">
  <%= render "shared/billy_animation" %>
</div>

<br>
<%= render "shared/footer" %>