// body {
//   text-align:center;
// }

.rectbg {
  fill:#fc0;
}
#brand, #billy {
  margin-right: auto;
  margin-left: auto;
}

.cls-1, .cls-9 {
        fill: #b6b6b6;
      }

      .cls-1, .cls-10, .cls-2, .cls-3, .cls-4, .cls-6, .cls-7, .cls-9 {
        stroke: #6a6b6b;
        stroke-width: 0.82px;
      }

      .cls-1, .cls-2, .cls-3, .cls-4 {
        stroke-miterlimit: 10;
      }

      .cls-2, .cls-6 {
        fill: #fff;
      }

      .cls-10, .cls-3 {
        fill: #dadada;
      }

      .cls-4, .cls-7 {
        fill: #f2f2f2;
      }

      .cls-5 {
        fill: #1c1b1a;
      }

      .cls-10, .cls-6, .cls-7, .cls-9 {
        stroke-linejoin: round;
      }

      .cls-8 {
        fill: #6a6b6b;
      }
