// SCSS for component Card, used for showing search results or products the customer has bought.
.textdecoration-none {
  &:hover {
    text-decoration: none;
  }
}
.card-product {
  margin-top: 1vh;
  display: flex;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  justify-content: space-between;
  align-items:center;
  border-radius: $border-radius;
  &:hover {
    text-decoration: none;
  }
  &:active {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transform: scale(1.2);
  }
  .card-remove-item {
    padding: 33px;
    font-size: 24px;
    text-decoration: none;
    color: $green;
  }
}

.card-product-content {
  overflow: hidden;
  height: 110px;
  width: 400px;
  background: white;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
  img {
    height: 99px;
    width: 100px;
    margin-left: 6px;
    object-fit: scale-down;
  }

  .card-product-show {
    width: 100%;
    padding-right: 10px;
    align-items: center;
    display: block;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 15px;
    &:hover {
      text-decoration: none;
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
      color: $text-black;
    }
    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 6px;
      color: $text-gray;
    }
  }
}
