// SCSS for component Card, used for showing search results or products the customer has bought.

.product-card-link-container {
  &:hover {
    text-decoration: none;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    color: $text-black;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 6px;
    color: $text-gray;
  }
}

.card-product {
  overflow: hidden;
  height: 110px;
  width: 99%;
  margin-top: 1vh;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  img {
    height: 100%;
    width: 90px;
    object-fit: cover;
  }
  .card-product-infos {
    padding-left: 15px;
  }
  .card-product-show {
    width: 100%;
    padding-right: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
