.container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
  text-align: center;
}

.container-left {
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 60px);
  background-position: center;
  background-size: cover;
}

.container-right {
  width: 50vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 60px);
  padding: 75px 0;
  h1 {
    color: $text-gray;
    text-shadow: $text-shadow-lg;
  }
  p {
    font-size: 18px;
    margin-bottom: 0;
    color: $text-gray;
  }
}

// -----Containers on Landing-Page---------

.container-landingpage {
  // Formating of background-picture
  width: 100vw;
  height: calc(100vh - 60px);
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), asset-url('ett-utekoek.jpg');
  background-position: center;
  background-size: cover;
  // Formating of content
  display: flex;
  justify-content: center;
  color: $dark-white;
  .content {
    text-align: center;
    margin-top: 10vh;
    margin-right: 5vw;
    margin-left: 5vw;
  }
}
// -----End Containers Landing-Page-------


// ------Containers on Index-Page--------

// Container to display side-by side
.index {
  display: flex;
}

// Container on the left, same content as landing-page
.container-lp-copy {
  // Formating of background-picture
  width: 50vw;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 60px);
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), asset-url('ett-utekoek.jpg');
  background-position: center;
  background-size: cover;
  // Formating of content
  display: flex;
  color: $dark-white;
  justify-content: center;
  .content {
    text-align: center;
    margin-top: 10vh;
    margin-right: 5vw;
    margin-left: 5vw;
  }
}

// -------End Containers Index-Page---------
