.container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
  text-align:center;
}

.container_left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  margin-bottom: 70px;
  padding: 50px 0;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), asset-url('bg_picture.png');
  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 38px;
  }
  p {
    font-size: 22px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
.container_right {
  position: fixed;
  background-color: $body-bg;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  margin-bottom: 70px;
  padding: 50px 0;
  h1 {
    color: blue;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 38px;
  }
  p {
    font-size: 22px;
    color: blue;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.container-landingpage {
  // Formating of background-picture
  width: 100vw;
  height: calc(100vh - 70px);
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), asset-url('ett-utekoek.jpg');
  background-position: center;
  background-size: cover;
  // Formating of content
  display: flex;
  color: $white;
  justify-content: center;
  .content {
    text-align: center;
    margin-top: 10vh;
  }
}
