.inspiration-header {
  position: absolute;
  width: 50%;
  top: 39%;
  left: 25%;
  z-index: 1;
  background-color: $yellow;
  // opacity: 0.7;
  padding: 20px;
  text-align: center;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  h1 {
    font-size: 30px
  }
  p {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
  }
}

.inspire-image {
  border-radius: $border-radius-lg;
  margin: 7px;
  box-shadow: $box-shadow-lg;
}
.inspiration-images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto
}
