
.textheader {
  position: fixed;
  top: 50px;
  z-index: 2;
  margin-left: 100px;
  text-align: center;
}
/* The outermost element*/
.header-wrapper {
  overflow: hidden;
  height: 50vh;
  width: 100vw;
  text-align:center;
}

.zoominheader {
  text-align:center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(222,92,97,0.6),rgba(0,0,0,0.3)), url("https://res.cloudinary.com/favapps-dx-33/image/upload/v1561457585/inspire/inspire_malm16_lfmi7n.png");
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 8s ease-in;
  animation: zoomin 8s ease-in;
  transition: all .5s ease-in-out;
  overflow: hidden;
  height: 50vh;
  width: 100vw;
}

/* The innermost element*/
.zoomoutheader {
  height: 50vh;
  width: 100vw;
  text-align:center;
  background: none;
  -webkit-animation: zoomout 8s ease-in;
  animation: zoomout 8s ease-in;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1.2);}
  //50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1.2);}
  //50% {transform: scale(1.1);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  // 0% {transform: scale(1);}
  // 50% {transform: scale(1.05);}
  // 100% {transform: scale(1.1);}
}
@keyframes zoomout {
  //   0% {transform: scale(1);}
  // 50% {transform: scale(1.05);}
  // 100% {transform: scale(1.1);}
}/*End of Zoom out Keyframes */



.container-review {
  width: 100vw;
  height: calc(100vh - 60px);
  .banner {
    height: 50vh;
    width: 100vw;
  }
  .form {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  h1 {
    color: #F5F5F5;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  p {
    color: #F5F5F5;
    font-size: 20px;
  
  }
  .skip {
    text-align: center;
  }
}

*{
  margin: 0;
  padding: 0;
}

.rate {
  display: flex;
  justify-content: left;
  input {
    display: none;
    &:checked {
      & ~ label {
        color: $main-red;
      }
    }
    & + label {
      font-size: 0;
      &:before {
        content: '♥ ';
        font-size: 2rem;
        margin-right: 7px;
        font-weight: bold;
      }
      &[for="star5"] {order: 5;}
      &[for="star4"] {order: 4;}
      &[for="star3"] {order: 3;}
      &[for="star2"] {order: 2;}
      &[for="star1"] {order: 1;}
    }
    &:hover, &:hover ~ label {
      color: $main-red;
    }
  }
}
