<div class="index">

  <% if @previous_page == "http://localhost:3000/" || @previous_page == "https://ienkelt.herokuapp.com/" %>
    <div class="show-left-animation">
  <% end %>
    <div class="container-lp-copy">
      <div class="content">
        <%= render 'shared/searchform' %>
      </div>
    </div>
  <% if @previous_page == "http://localhost:3000/" || @previous_page == "https://ienkelt.herokuapp.com/" %>
    </div>
  <% end %>


  <div class="product-display">
    <% if @search == true %>
      <% if @products.present? %>
        <div class="header">
          <h3>Search Results</h3>
          <p>These products require assembly.<br> Select product for more information.</p>
        </div>
        <% @products.each do |product| %>
          <%= render 'shared/card', product: product, userproduct: false %>
        <% end %>
      <% else %>
        <div class="header">
          <h3>Sorry</h3>
          <p>"<%= params[:query].upcase %>"" could not be found.<br><br> If you are looking for a product that doesn't require assembly, please visit IKEA.com.</p>
      <% end %>
    <% else %>
      <div class="header">
        <h3>Your Products</h3>
        <p>These are products you have bought, which require assembly.</p>
        </div>
        <% @not_assembled.each do |userproduct| %>
          <%= render 'shared/card', product: userproduct.product, userproduct: true %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>

 <script>
  let btns = document.querySelectorAll(".remove");
  btns.forEach(function(btn) {
    btn.addEventListener("click", function(event){
      //console.log(event.currentTarget);
      btn.parentNode.parentNode.remove();
    });
  })
 </script>
