<h1><%= @product.name %> insparation images</h1>


<div class="d-flex flex-wrap justify-content-between">
  <% @inspirations.each do |inspiration| %>
    <div>
      <img src='<%= inspiration.url %>' height="300" >
    </div>
  <% end %>
</div>


