<div class="inspiration-header">
  <h1><%= @product.name.upcase %> inspiration</h1>
  <p>For more inspiration and shopping visit <a href="http://www.ikea.com">www.ikea.com</a> </p>
</div>

<div class="d-flex flex-wrap mb-5">
  <% @inspirations.each do |inspiration| %>
    <div>
      <!-- <img src=<%= inspiration.url %> > -->
      <img src=<%= inspiration.transform_image("w_326,h_222,c_fill,g_south") %> , class="inspire-image">
    </div>
  <% end %>
</div>




