<h1><%= @product.name.upcase %> insparation images</h1>


<div class="d-flex flex-wrap mb-5">
  <% @inspirations.each do |inspiration| %>
    <div>
      <!-- <img src=<%= inspiration.url %> > -->
      <img src=<%= inspiration.transform_image("w_340,h_230,c_fill,g_south") %> >
    </div>
  <% end %>
</div>



 <!-- iPad width = 1024 /3 = 340px -->


