<h1>This is the Product Show view</h1>

<%= @product.name %>

<br>
<% @product.reviews.each do |review| %>

<br>
  <%= review.rating %>
  <img src="https://res.cloudinary.com/favapps-dx-33/image/upload/v1560846560/Ledlightbulbs_vunh8s.webp" >
<% end %>