
<div class="container-review">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(<%= @inspirations.last.url %>)";>

    <h1>Congratulations on finishing the assembly.</h1>
    <p><strong>We hope you enjoy your product!</strong></p>
    <p>Please rate the provided guidance, and leave feedback regarding your experience.</p>

  </div>

  <div class="form">
    <%= render "shared/rating", review: @review %>
  </div>

</div>

