
<div class="container-review">

  <div class="banner" style="background-image: url(<%= @inspirations.first.url %>);">

    <h1>Congratulations on finishing the assembly!</h1>
    <p><strong>We hope you enjoy your product.</strong><br>Please rate the provided guidance in the process, and leave feedback regarding your experience.</p>

  </div>

  <div class="form">
    <%= render "shared/rating", review: @review %>
  </div>

</div>

